<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title_Heart Disease Prediction</title>
</head>
<body>
    <h1>Heart Disease Prediction</h1>
    <p>Welcome to the Heart Disease Prediction API</p>
    <div>{{data}}</div>
    <form action="/predict" method="post">
        <input name="data" type="text" placeholder="Enter data">
        <input type="submit" value="Predict">

    </form>
    <div>Heart Risk: {{prediction }}%</div>
    <div>Health score : {{health_score}}</div>
    <div>{{error}}</div>

   
</body>
</html> -->

{% extends 'base.html' %}

{% block title %}
    Predict Page
{% endblock %}

{% block content %}
    <!-- <div>{{data}}</div> -->
    <form action="/predict" method="post">
        <input name="data" type="text" placeholder="Enter data">
        <input type="submit" value="Predict">

    </form>
    <div>Heart Risk: {{prediction | round(2) }}%</div>
    <div>Health score : {{health_score | round(2) }}</div>
    <div>{{error}}</div>
{% endblock %}